<section class="w-full min-h-screen p-4">
  <div class="grid grid-cols-5 gap-12 w-full place-content-center">
    <div *ngFor="let product of products"
         class="relative flex flex-col bg-gray-200 justify-center w-full items-center p-2 rounded shadow">
      
      <p class="absolute top-3 right-3 font-semibold text-gray-900 bg-amber-300 rounded p-1">
        -{{ product.discount }}%
      </p>

      <!-- Make the image clickable and navigate to detail page -->
      <img [src]="product.img" 
           [alt]="product.name" 
           [routerLink]="['/detailProduct', product.id]" 
           class="w-full h-80 object-cover rounded cursor-pointer" />

      <div class="mt-2 text-center">
        <p class="font-semibold">{{ product.name }}</p>
        <p class="text-sm text-gray-700 text-start">{{ product.description }}</p>
        <p class="mt-1 font-semibold">Price : <i>${{ product.price }}</i></p>
        <button class="px-4 py-1 my-2 bg-green-400 rounded text-sm hover:bg-green-500 transition-all hover:translate-y-[-1px] duration-150" (click)="addToCart(product)">
          ADD
        </button>
      </div>
    </div>
  </div>
</section>
